
body, html{
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    color: rgb(207, 55, 182);
    font-variant: small-caps;
    font-size: 40px;
    opacity: 0.7;
    position: absolute;
    padding: 0%;
    margin:-100px 0 0 -150px;
    left:51.2%;
    top:40%;
}

form div {
    margin: 10px;
}

fieldset {
    text-align: left;
    position: absolute;
    padding: 0%;
    margin:-100px 0 0 -150px;
    left:50%;
    top:50%;
    border: transparent;
    opacity: 0.6;
}

label {
    color: rgb(166, 118, 211);
    font-variant: small-caps;
    opacity: 0.8;
}

input[type=text], input[type=email], textarea, option, select {
    background-color: rgb(177, 183, 212);
    color: rgb(58, 46, 131);
    border-color: transparent;
    border-radius: 5px;
    outline: none;
}

input[type=button] {
    background-color: rgb(166, 118, 211);
    color: rgb(58, 46, 131);
    border-color: transparent;
    border-radius: 5px;
}

.bg {
    background-image: url(/css/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

::selection {
    background-color: rgb(203, 197, 230);
}